.login-button {
  cursor: pointer;
  display: inline-block;

  height: 44px;
  padding: 10px;

  font-size: 18px;
}

.login-button__provider {
  font-weight: normal;
}

.login-button--facebook {
  background-color: #3a5795;
  color: white;

  &::before {
    content: 'f';
    font-family: lucida grande;
    margin-right: 15px;
  }
}
