.user-likes {
  padding: 40px;
}

.user-likes__title {
  color: #3e454c;
  font-size: 24px;
}

.user-likes__title__value {
  font-weight: normal;
  color: #ff7f66;
  margin-left: 10px;
}

.user-likes__series {
  margin: 15px -30px -20px 0;
}
